html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.map-sidebar {
  width: 250px;
  background-color: white;
  padding: 16px;
  color: black;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.map-view {
  flex: 1;
}


/* Position buttons */
#centerBtn,
#pinToggleBtn,
#findRouteBtn,
#returnToStartBtn {
  position: absolute;
  z-index: 1100;
  padding: 10px 16px;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background: white;
  color: black;
}

#centerBtn {
  bottom: 20px;
  right: 20px;
}

#pinToggleBtn {
  top: 20px;
  left: 270px;
}

#findRouteBtn {
  top: 70px;
  left: 270px;
  background: #007bff;
  color: white;
}

#returnToStartBtn {
  top: 120px;
  left: 270px;
  background: #28a745;
  color: white;
}

.survivor-marker {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
}

.robot-marker {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid blue;
  transform: rotate(45deg);
}

.mapboxgl-popup-content {
  color: black;
  font-weight: bold;
}

.arrow-marker {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mapboxgl-popup {
  z-index: 9999;
  font-size: 14px;
}
